<% layout("/layouts/boilerplate") %>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <br><br>
      <h3>Create New listing</h3>
      <form action="/listing" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3"> <!--this is bootstrap element for margin bottom = mb -->
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Please enter a title</div> <!--this is bootstrap element-->
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="enter description" class="form-control"
            required></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload listing image</label>
          <input name="listing[image][url]" type="file" class="form-control">
        </div>

        <div class="row">


          <div class="mb-3 col-4 ">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>
          </div>

        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="Pithoragarh, Uttrakhand" type="text" class="form-control"
            required>
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>

          <select name="listing[category]" class="form-select" required>

            <option value="">Select Category</option>

            <option value="trending">Trending</option>

            <option value="rooms">Rooms</option>

            <option value="iconic-cities">Iconic Cities</option>

            <option value="mountains">Mountains</option>

            <option value="castles">Castles</option>

            <option value="amazing-pools">Amazing Pools</option>

            <option value="camping">Camping</option>

            <option value="farms">Farms</option>

            <option value="arctic">Arctic</option>

            <option value="domes">Domes</option>

            <option value="boats">Boats</option>

          </select>
        </div>
        <br><br>

        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
      </form>
    </div>
  </div>